<template>
  <v-footer
    dark
    padless
  >
    <v-card
      tile
      class="white--text text-center"
      width="100%"
    >
      <v-card-text>
        <v-btn
          v-for="(link, icon) in links"
          :key="icon"
          :href="link"
          class="mx-4 white--text"
          target="_blank"
          rel="nofollow noopener"
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-text class="white--text">
        {{ new Date().getFullYear() }} — <strong>Serj Beseda</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
  export default {
    data: () => ({
      links: {
        'mdi-bitbucket': 'https://bitbucket.org/ibeseda/frozeneon/',
        'mdi-web': 'https://frozeneon.web.app/',
        'mdi-linkedin': 'https://www.linkedin.com/in/sergey-beseda/',
      },
    }),
  }
</script>