<template>
    <div>
        Begin search <span class="spin-dot"><i>.</i><i>.</i><i>.</i><i>.</i><i>.</i></span>
    </div>
</template>

<script>
export default {
    name: 'Start'
}
</script>

<style lang="scss">
    .spin-dot{
        display: inline-block;
        
        width: 20px;
        height: 1px;
        margin-left: 5px;

        position: relative;
    }
</style>