<template>
  <v-app>
    <v-app-bar app dark height="70">
      <a href="https://frozeneon.com/" target="_blank" rel="nofollow noopener" class="d-flex align-center col-3">
        <v-img
          alt="Vuetify Name"
          class="shrink mt-1"
          contain
          min-width="100"
          src="https://static.tildacdn.com/tild6364-3937-4930-b233-653664646633/logso-frozeneon.png"
          width="100"
        />
      </a>

      <div class="col-6 mx-auto">
        <v-text-field
            class="mt-4 sync"
            v-model="searchText"
            label="Search"
            white
            search-input
            clearable
            hint="For example, Vue or React"
            :prepend-icon="status ? 'mdi-magnify' : 'mdi-search-web'"
            :append-outer-icon="searchText ? 'mdi-send' : ''"
            @click:prepend="toggleIcon" 
            @click:append-outer="search" 
            v-on:keyup.enter="search"
          >
          </v-text-field>
      </div>

      <div class="col-3 d-flex">
        <v-btn
            href="https://frozeneon.web.app/"
            target="_blank"
            rel="nofollow noopener"
            text
            class="ml-auto"
        >
            <span class="mr-2">production</span>
            <v-icon>mdi-open-in-new</v-icon>
        </v-btn>
      </div>
    </v-app-bar>
    <v-main>
      <v-container class="my-5">
        <v-data-table
            :headers="headers"
            :items="items"
            :items-per-page="10"
            disable-sort
            class="elevation-1"
            v-if="searchResult"
        >
          <template
            v-slot:body
          >
            <tbody v-if="searchResultTotal > 0">
              <tr
                v-for="item in searchResult.objects"
                :key="item.name"
                 @click="rowClick(item)"
                 style="cursor:pointer"
              >
                <td class="text-no-wrap">{{ item.package.name }}</td>
                <td>{{ item.package.version }}</td>
                <td>{{ item.package.description.length > 100 ? item.package.description.slice(0, 100) + ' ...' : item.package.description }}</td>
              </tr>
            </tbody>
            <tbody v-else-if="!searchResultTotal">
              <tr>
                <td class="text-center" colspan="3">NO RESULTS HERE!</td>
              </tr>
            </tbody>
          </template>
        </v-data-table>
        <Start v-else />
      </v-container>
    </v-main>
    
    <Footer />

    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          {{ packageName }}
        </v-card-title>

        <div class="items">
          <div class="item-info">
            <div class="item-info__title">Author</div>
            <div class="item-info__text">{{ packageAuthor }}</div>
          </div>
          <div class="item-info">
            {{ packageDescription }}
          </div>
          <div class="item-info">
            <div class="item-info__title">Publisher</div>
            <div class="item-info__text">
              <div v-for="item in packagePublisher" :key="item.id">{{ item }}</div> 
            </div>
          </div>
          <div class="item-info">
            <div class="item-info__title">Links</div>
            <div class="item-info__text">
              <div v-for="(value, item) in packageLinks" :key="item.id">
                <a :href=value target="_blank" rel="noopener nofollow">{{ item }}</a> <v-icon>mdi-open-in-new</v-icon>  
              </div> 
            </div>
          </div>
        </div>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="black"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import Start from './components/Start'
import Footer from './components/Footer'

export default {
  name: 'App',
  components: {
    Start,
    Footer
  },
  data() {
    return {
        headers: [
            {
                text: 'Name',
                align: 'start',
                sortable: false,
                value: 'name',
                class: 'text-h6 text-no-wrap'
            },
            { text: 'Version', value: 'version', class: 'text-no-wrap' },
            { text: 'Description', value: 'description' },
        ],
        items: [],
        searchResult: null,
        searchResultTotal: 0,
        searchText: '',
        status: true,
        dialog: false,
        packageName: '',
        packageAuthor: '',
        packageDescription: '',
        packagePublisher: {},
        packageLinks: {},
    }
  },
  methods: {
    toggleIcon() {
        this.status = !this.status
    },
    async search() {
        console.log('navbar:', this.searchText);
        this.searchResult = ''
        const apiBase = 'https://registry.npmjs.com/-/v1'
        const apiSearch = '/search?text='
        const apiSearchLimit = 10
        console.log(`${apiBase}${apiSearch}${this.searchText}&size=${apiSearchLimit}`);
        const responseResult = await fetch(`${apiBase}${apiSearch}${this.searchText}&size=${apiSearchLimit}`);
        this.searchResult = await responseResult.json();
        this.searchResultTotal = this.searchResult.total;
    },
    rowClick(e) {
      this.dialog = true
      this.packageName = e.package.name
      this.packageDescription = e.package.description
      this.packageAuthor = e.package.author.name ?? ''
      this.packagePublisher = e.package.publisher
      this.packageLinks = e.package.links
    }                       
  },
  computed: {
  }
}
</script>

<style lang="scss" scoped>
  .items{
    display: flex;
    flex-direction: column;

    margin: 8px 25px;
  }
  .item-info{
    display: flex;
    justify-content: space-between;

    margin: 5px 0;

    &__title{
      font-weight: 700;
    }
    &__text{
      text-align: right;
    }
  }
</style>
